.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 34px;
  color: #ffffff;
  background: #02897A;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
}
 
.back-to-top:hover {
  background: #173A56;
}